@import '../../../src/styles/globals.scss';

.section    {
    background: rgb(92,92,92);
    background: linear-gradient(0deg, rgba(92,92,92,1) 50%, rgba(57,29,219,0.05926120448179273) 100%);
    display: flex;
    flex-direction: column;
    gap: 10%;
    justify-content: flex-start;
    min-height: 100vh;
    transition: 0.3s;
    @include spacing;

    h1  {
        padding: 5% 0% 3% 0%;
        @include titles;
    }
}

.daysDiv   {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.days   {
    border-bottom: 4px solid $dark;
    cursor: pointer;
    opacity: 0.5;
    width: 55.223880597015%;

    h1  {
        color: $i;
        font-size: 100%;
        font-weight: bold;
    }

    p   {
        font-family: $m;
        font-size: 80%;
    }
}

@media  (max-width: 425px)  {
    .section    {
        h1  {
            font-size: 100%;
        }
    }

    .daysDiv    {
        gap: 10px;
    }

    .days   {
        h1  {
            font-size: 70%;
        }
        
        p   {
            font-size: 50%;
        }
    }
}

