@import '../../../src/styles/globals.scss';

.section    {
    background-color: $g;
    display: flex;
    flex-direction: column;
    gap: 10%;
    justify-content: flex-start;
    min-height: 100vh;
    @include spacing;

    h1  {
        @include titles;
    }
}

.daysDiv   {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.days   {
    border-bottom: 4px solid $dark;
    opacity: 0.5;
    width: 55.223880597015%;

    h1  {
        color: $i;
        font-size: 100%;
        font-weight: bold;
    }

    p   {
        font-family: $m;
        font-size: 80%;
    }
}

