@import '../../../src/styles/globals.scss';


.section    {
    background-image: url('../../assets/images/introduction-background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 120vh;
    padding: 9.34% 14.3%;
    width: 100%;
}

.callingDiv   {
    display: flex;
    flex-direction: column;
    font-size: 300%;
    font-weight: 700;
    text-align: center;
}

.experience {
    color: $light;
    display: flex;
    flex-direction: column;
    font-family: $m;
}

.redText    {
    color: $gR;
}

.callingText    {
    align-self: center;
    color: $light;
    font-size: 35%;
    font-family: $r;
    font-weight: 400;
    justify-self: center;
    line-height: 30px;
    padding: 0px 2%;
    width: 75%;
}

.options    {
    align-items: center;
    color: $light;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    gap: 5%;
    justify-content: center;
    margin-left: 15px;
    margin-top: -10px;
    width: 100%;
}

.watch  {
    align-items: center;
    color: $light;
    display: flex;
    height: 80px;
    justify-content: center;
    text-decoration: none;

    img {
        height: 50%;
        transition: 0.3s;
    }
    p   {
        margin-top: 14px;
        width: 150px;
    }

    transition: 0.3s;
    &:hover {
        filter: opacity(0.15) drop-shadow(0 0 $gR);
    }
}

.countdown  {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 18.257261410788%;
    margin-top: 3%;
    text-align: center;
}

.countdownTitle  {
    color: transparent;
    font-family: $m;
    font-size: 600%;
    font-weight: 900;
    opacity: 0.5;
    text-transform: lowercase;
    text-shadow: solid 1px $gR;
    transition: 0.1s;
    width: 140%;
    -webkit-text-stroke: 1px $light;
}

@media  (max-width: 1175px) {
    .section {
        height: 150vh;
        padding-top: 20%;
    }

    .options    {
        button  {
            width: 30%;
        }
    }

    .countdown  {
        h1  {
            font-size: 400%;
        }
    }
}

@media  (max-width: 768px)  {
    .section    {
        height: 150vh;
        padding: 20% 0%;
    }

    .options    {
        align-items: center;
        flex-direction: column;
        justify-content: center;
        justify-self: center;
        margin: 0px;
        margin-top: 20px;
        padding: 0px;
    }

    .experience {
        align-self: center;
        align-items: center;
        justify-content: center;
        justify-self: center;

        strong  {
            align-self: center;
            font-size: 60%;
        }

        span    {
            align-self: center;
            font-size: 60%;
        }
    }

    .callingText    {
        align-self: center;
        font-size: 30%;
    }

    .countdownTitle {
        width: 100%;
    }
}

@media  (max-width: 535px)  {
    .section    {
        height: 165vh;
    }

    .countdownTitle {
        strong  {
            font-size: 70%;
        }
    }
}

@media  (max-width: 375px)  {
    .section    {
        padding: 25% 0%;
        height: 160vh;
    }

    .callingText    {
        font-size: 25%;
    }

    .countdownTitle {
        strong  {
            font-size: 60%;
        }
    }
}