@import '../../../src/styles/colors.scss';
@import '../../../src/styles/fonts.scss';

.section    {
    background-image: url('../../assets/images/introduction-background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 120vh;
    padding: 9.34% 24.73% 32.46% 24.73%;
}

.callingDiv   {
    display: flex;
    flex-direction: column;
    font-size: 300%;
    font-weight: 700;
    text-align: center;
}

.experience {
    color: $light;
    display: flex;
    flex-direction: column;
    font-family: $m;
}

.redText    {
    color: $gR;
}

.callingText    {
    color: $light;
    font-size: 35%;
    font-family: $r;
    font-weight: 400;
    line-height: 30px;
    width: 106%;
}

.options    {
    align-items: center;
    color: $light;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    gap: 5%;
    justify-content: center;
    margin-left: 15px;
    margin-top: -10px;
    width: 100%;
}

.watch  {
    align-items: center;
    color: $light;
    display: flex;
    height: 80px;
    justify-content: center;
    text-decoration: none;

    img {
        height: 50%;
        transition: 0.3s;
    }
    p   {
        margin-top: 14px;
        width: 150px;
    }

    transition: 0.3s;
    &:hover {
        filter: opacity(0.15) drop-shadow(0 0 $gR);
    }
}

.countdown  {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 18.257261410788%;
    margin-top: 3%;
    text-align: center;

    h1  {
        color: transparent;
        font-family: $m;
        font-size: 600%;
        font-weight: 900;
        opacity: 0.5;
        text-transform: lowercase;
        text-shadow: solid 1px $gR;
        width: 140%;
        -webkit-text-stroke: 1px $light;
    }
}