@import '../../../src/styles/globals.scss';

.section    {
    align-items: center;
    background: $g;
    display: flex;
    flex-direction: row;
    gap: 1%;
    min-height: 80vh;
    padding: 5.34% 19.53125%;
}

.informations   {
    color: $light;
    display: flex;
    flex-direction: column;
    width: 42%;

    h1  {
        @include titles;
    }

    p   {
        @include texts;
        width: 95%;
    }
}

.button {
    @include buttons;
    padding: -0px 8%;
    width: 60%;

    
    img {
        width: 7%;
    }

    &:hover {
        width: 94%;

        img {
            width: 5%;
        }
    }
}

.singerImages   {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4%;
    width: 57%;

    img {
        margin-bottom: -4%;
        width: 40.298507462687%;
        -webkit-box-reflect: below -62% linear-gradient(to bottom, transparent 50%, $g);

    }
    :nth-child(-3n+4)  {
        width: 55.223880597015%;
        -webkit-box-reflect: below -30% linear-gradient(to bottom, transparent 70%, $g);
    }
    :nth-child(2n-2)    {
        padding-bottom: 12%;
        -webkit-box-reflect: below -62% linear-gradient(to bottom, transparent 50%, $g);
    }

}