@import '../../../src/styles/globals.scss';

.section    {
    align-items: center;
    background: $g;
    display: flex;
    flex-direction: row;
    gap: 1%;
    min-height: 120vh;
    @include spacing;
    padding-bottom: 15%;
}

.informations   {
    color: $light;
    display: flex;
    flex-direction: column;
    width: 42%;

    h1  {
        @include titles;
    }

    p   {
        @include texts;
        width: 95%;
    }
}

.button {
    @include buttons;
    padding: -0px 8%;
    width: 60%;

    
    img {
        width: 7%;
    }

    &:hover {
        width: 94%;

        img {
            width: 5%;
        }
    }
}

.singerImages   {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4%;
    width: 57%;

    img {
        margin-bottom: -4%;
        width: 40.298507462687%;
        -webkit-box-reflect: below -62% linear-gradient(to bottom, transparent 50%, $g);

    }
    :nth-child(-3n+4)  {
        width: 55.223880597015%;
        -webkit-box-reflect: below -30% linear-gradient(to bottom, transparent 70%, $g);
    }
    :nth-child(2n-2)    {
        padding-bottom: 12%;
        -webkit-box-reflect: below -62% linear-gradient(to bottom, transparent 50%, $g);
    }

}

@media  (max-width: 768px)  {
    .section    {
        min-height: 60vh;
    }

    .informations   {
        width: 60%;
    }

    .singerImages   {
        width: 40%;
    }

    .button {
        margin-top: 0;
        width: 90%;
    }
}

@media  (max-width: 582px)  {
    .informations   {
        h1  {
            font-size: 100%;
        }

        p   {
            font-size: 50%;
        }
    }

    
    .singerImages   {
        margin-top: 5%;
        img {
            width: 40%;
        }
    }
}

@media  (max-width: 425px)  {
    .singerImages   {
        display: none;
    }

    .informations   {
        width: 100%;
    }

    .button {
        height: 35px;
        width: 45%;

        p   {
            font-size: 40%;
            width: 120%;
        }

        img {
            width: 20%;
        }
    }
}