@import '../../../styles/globals.scss';

.companiesDiv   {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 11%;
    justify-content: center;
}
@media  (max-width: 545px)  {
    .companiesDiv    {
        flex-wrap: wrap;
        gap: 15px;
    }
}