/*-------------------------------------------------------------------<FONT IMPORTS>-----------------------------------------------------------------------------------------------*/
@font-face {
    font-family: 'Montserrat';
    src: url('https://fonts.googleapis.com/css?family=Montserrat');
}
@font-face {
    font-family: 'Poppins';
    src: url('https://fonts.googleapis.com/css?family=Poppins');
}
@font-face {
    font-family: 'Raleway';
    src: url('https://fonts.googleapis.com/css?family=Raleway');
}
/*-------------------------------------------------------------------<FONTS>----------------------------------------------------------------------------------------------*/
/*font-family: 'Montserrat'*/   $m: 'Montserrat';
/*font-family: 'Montserrat'*/   $p: 'Poppins';
/*font-family: 'Raleway'*/      $r: 'Raleway';
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/