/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------<STYLES FOR THE MAIN APPLICATION>---------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@import '@splidejs/react-splide/css';
@import './colors.scss';
@import './fonts.scss';
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.nav-link   {
    color: $light;
    font-family: $m;
    font-size: 60%;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 5px;
}
/*-------------------------------------------------------------------<SCROLLBAR STYLES>-----------------------------------------------------------------------------------------------*/
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: $dark; 
}

::-webkit-scrollbar-thumb {
    background: $gR;
    transition: 0.3s;
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/