/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------<STYLES FOR THE MAIN APPLICATION>---------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@import '@splidejs/react-splide/css';
@import './colors.scss';
@import './fonts.scss';

/*----------------------------------------------------------<STYLES FOR THE NAVBAR>--------------------------------------------------------------------------------------------------------------------------------*/

body    {
    background: $g;
}

.navbar-brand   {
    border-bottom: 2px solid transparent;
    transition: 0.3s;
    &:hover {
        border-bottom: 2px solid $gR;
        color: $gR;
    }
}

.nav-link   {
    border-bottom: 2px solid transparent;
    color: $light;
    font-family: $m;
    font-size: 60%;
    font-weight: bolder;
    text-transform: uppercase;
    margin-top: 5px;

    transition: 0.3s;
    &:hover {
        border-bottom: 2px solid $gR;
        color: $gR;
    }
    
}

.navbar-nav {
    gap: 20px;
}

/*--------------------------------------------------------------<STYLES FOR THE ABOUT SECTION>--------------------------------------------------------------------------------------------------------------------------------*/

.over   {
    margin-left: 70px;
    margin-top: 70px;
}

.below  {
    opacity: 0.3;
}

/*------------------------------------------------------------------<STYLES FOR THE TICKETS>--------------------------------------------------------------------------------------------------------------------------------*/

.basicTicket    {
    border-top: 2px solid $dark;

    h6  {
        color: $dark;
    }

    h1  {
        color: $dark;
    }

    p   {
        color: $dark;
    }
    
    a   {
        background-color: transparent;
        border: 1px solid $dark;

        p   {
            color: $dark;
        }

        &:hover {
            background-color: $dark;

            p   {
                color: $i;

            }
        }
    }
}

.standardTicket    {
    border-top: 2px solid $dark;

    h6  {
        color: $dark;
    }

    h1  {
        color: $dark;
    }

    p   {
        color: $dark;
    }

    a   {
        background-color: $dark;
        border: 1px solid $dark;

        p   {
            color: $i;
        }

        &:hover {
            background-color: transparent;
            
            p   {
                color: $dark;

            }
        }
    }
}

.vipTicket    {
    border-top: 2px solid $gR;

    h6  {
        color: $gR;
    }

    h1  {
        color: $gR;
    }

    p   {
        color: $gR;
    }

    a   {
        background-color: transparent;
        border: 1px solid $gR;

        p   {
            color: $gR;
        }

        &:hover {
            background-color: $gR;
            
            p   {
                color: $i;

            }
        }
    }
}

/*-------------------------------------------------------------------<SCROLLBAR STYLES>-----------------------------------------------------------------------------------------------*/

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: $dark; 
}

::-webkit-scrollbar-thumb {
    background: $gR;
    border-radius: 25px;
    transition: 0.3s;
}

/*---------------------------------------------------------------<MIXINS FOR THE APPLICATION>------------------------------------------------------------------------------------*/

@mixin spacing  {
    padding: 5.34% 19.53125%;
}

@mixin titles   {
    color: $light;
    font-family: $m;
    font-size: 150%;
    font-weight: 800;
}

@mixin texts    {
    color: $i;
    font-family: $r;
    font-size: 70%;
    font-weight: 400;
    margin-top: 4%;
}

@mixin buttons  {
    align-items: center;
    background-color: $light;
    border-radius: 6px;
    color: $dark;
    display: flex;
    flex-direction: row;
    gap: 5px;
    height: 46px;
    margin-top: 10%;
    text-decoration: none;
    transition: 0.3s;

    p   {
        color: $dark;
        font-size: 70%;
        font-family: $m;
        text-align: center;
        transition: 0.3s;
        margin-top: 15px;
    }

    img {
        transition: 0.3s;
    }

    &:hover {
        background-color: $gR;

        p   {
            color: $i;
        }

        img {
            filter: invert(100%);
        }
    }
}

/*---------------------------------------------------------------<ALTERNATION CLASSES>----------------------------------------------------------------------------------------*/

.currentDay {
    opacity: 1;

    h1  {
        color: #222222;
    }

    p   {
        opacity: 0.5;
    }
}
