/*-------------------------------------------------------------------<SCROLLBAR STYLES>-----------------------------------------------------------------------------------------------*/
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: $dark; 
}

::-webkit-scrollbar-thumb {
    background: $cBlue;
    transition: 0.3s;
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/