@import '../../../src/styles/globals.scss';

.section    {
    align-items: center;
    background: $g;
    display: flex;
    flex-direction: row;
    gap: 50px;
    min-height: 80vh;
    @include spacing;
}

.pictures   {
    display: flex;
    width: 50%;
}

.description    {
    display: flex;
    flex-direction: column;
    color: $light;
    width: 53.5%;

    h1  {
        @include titles;
    }

    p   {
        @include texts;
        width: 99%;
    }
}

.image  {
    height: 87.272727272727%;
    width: 83.636363636364%;
}

.button {
    @include buttons;
    padding: -0px 5%;
    width: 33%;

    img {
        width: 12%;
    }

    &:hover {
        width: 66%;

        img {
            width: 8%;
        }
    }
}