@import '../../../src/styles/globals.scss';

.section    {
    align-items: center;
    background: $g;
    display: flex;
    flex-direction: row;
    gap: 50px;
    min-height: 80vh;
    @include spacing;
}

.pictures   {
    display: flex;
    width: 50%;
}

.description    {
    display: flex;
    flex-direction: column;
    color: $light;
    width: 53.5%;

    h1  {
        @include titles;
    }

    p   {
        @include texts;
        width: 99%;
    }
}

.image  {
    display: block;
    height: 87.272727272727%;
    width: 83.636363636364%;
}

.over   {
    margin-top: 15%;
    margin-left: -70%;
}

.button {
    @include buttons;
    padding: -0px 5%;
    width: 33%;

    img {
        width: 12%;
    }

    &:hover {
        width: 66%;

        img {
            width: 8%;
        }
    }
}

@media  (max-width: 768px)  {
    .section    {
        gap: 35px;
    }

    .pictures   {
        width: 30%;
    }

    .description    {
        width: 70%;

        p   {
            font-size: 80%;
        }
    }

    .button {
        margin-top: 0px;
    }
}

@media  (max-width: 582px)  {
    .pictures   {
        flex-direction: column;
        gap: 20px;
    }

    .button {
        width: 50%;
    }

    .image {
        display: grid;
        width: 120%;
    }
    
    .over   {
        margin: 0px;
    }

    .description    {
        width: 100%;

        h1  {
            font-size: 100%;
        }

        p   {
            font-size: 60%;
        }
    }
}

@media  (max-width: 425px)  {
    .description    {
        h1  {
            margin-bottom: 0px;
        }
    }

    .button {
        padding: -30px 20px;
        height: 30px;
        margin-top: -10px;
    }
}

@media  (max-width: 375px)  {
    .description    {
        gap: 5px;
        p   {
            font-size: 55%;
        }
    }

    .button {
        height: 25px;
    }
}