@import '../../styles/globals.scss';

.title  {
    margin-bottom: -2%;
    text-align: center;
    @include titles;
}

.section    {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 3%;
    justify-content: center;
    @include spacing;

}

@media  (max-width: 425px)  {
    .section    {
        flex-wrap: wrap;
        gap: 20px;
    }

    .title  {
        font-size: 100%;
    }
}