@import '../../styles/globals.scss';

.section    {
    display: flex;
    flex-direction: row;
    min-height: 80vh;
}

.leftDiv    {
    background-color: $dark;
    color: $light;
    display: flex;
    flex-direction: column;
    font-family: $m;
    padding-bottom: 0;
    padding-left: 4%;
    padding-top: 5%;
    width: 44.010416666667%;

    h1  {
        @include titles;
        margin-bottom: 12%;
    }
}

.contacts   {
    display: flex;
    flex-direction: row;
    gap: 2%;

    img {
        width: 2.5%;
    }

    p   {
        font-size: 70%;
        margin-top: 3%;
    }
}

.rightDiv   {
    background-color: $g;
    display: flex;
    flex-direction: row;
    gap: 25%;
    padding: 7%;
    width: 55%;
}

.shapeDecor {
    align-self: flex-end;
    justify-self: end;
    margin-top: 4%;
    width: 30%;
}

.form   {
    display: flex;
    flex-direction: column;
    gap: 5%;
    margin-top: -4%;
    width: 80%;

    h1  {
        color: $dark;
        font-family: $m;
        font-size: 110%;
        font-weight: bold;
        margin-bottom: 5%;
    }

    label   {
        color: $i;
        font-size: 60%;
        font-weight: bold;
        margin-top: 0%;
        opacity: 0.6;
    }

    input   {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #f9f9f973;
        opacity: 0.6;
        margin-top: -2%;
        width: 100%;
    }
}

.button {
    @include buttons;
    background-color: $gR;
    height: 15%;
    justify-content: center;
    margin-top: 4%;

    &:hover {
        background-color: $dark;

    }

    p   {
        align-self: center;
        color: $i;
        text-align: center;
    }
}

.smallShapeDecor    {
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    margin-bottom: -17%;
    margin-right: -13%;
    width: 10%;
}

.shape  {
    align-self: flex-end;
    justify-self: end;
    width: 90%;
}